/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Patua+One&family=Sniglet&display=swap');

*
{
box-sizing: border-box;
}

header,
section{

    overflow-x: hidden;
}

:root
{
--Snigle-font:"Sniglet",cursive;
--Rubik: "Rubik",cursive;
--Patua:"Patua One",cursive;
--Lobster:"Lobster",cursive;
--light-black:#2e2c2caf;
--bggradient:linear-gradient( to bottom,#dd2476,#ff512f);
--light-gray:rgba(255,255,255,0);

}
header a
{
    font-family:var(--Snigle-font);
    font-size: 0.9em;
    color: whitesmoke;
}
header
{
    background: #dd2476;
    background: var(--bggradient);
}
.dropdown-content
{
    display: none;
    position: absolute;
    background: white;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0);
    z-index: 1;
}
.test
{
height: 620px;


}

.dropdown-content a
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover
{
    background: #ddd;

}

.dropdown:hover .dropdown-content
{
    display: block;
}

header .nav-item:last-child
{
    padding-right: 10.5em; 
}

header .nav-item
{
    padding: 0.9em;
}

header .navbar-brand{
    padding-left: 8rem;
}

header .row .col-md-7
{
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
    font-family:var(--Patua);
    color: white;
}

header .container .col-md-7 h6
{
    padding: 1vmin;
    letter-spacing: 3px;
}
header .container .col-md-7 
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header .form-inline
{
    padding-left: 9rem;
}

/* section 1*/

.section-1
{
 padding:20vmin ;
 
}

.section-1 .row .col-md-6 .pray img
{
opacity: 0.8;
width: 80%;
border-radius: 2em;
}

.section-1 .row .col-md-6:last-child
{
    position: relative;
}

.section-1 .row .col-md-6 .panel
{
    position: absolute;
    top: 7vmin;
    left: -17vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 10vmin 5vmin 4vmin 10vmin;
    box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.2);

}

/* section 2*/

.cover
{
    width: 100%;
    height: 55vmin;
    background:url(life.jpg);
}

.cover .content
{
    background: rgba(0, 0, 0, 0);
    padding-top: 19vmin;
}

.cover .content >h1
{
font-family: var(--Lobster);
font-size: 6vmin;
color: whitesmoke;
}

.numbers .rect
{
position: relative;
z-index: 1;
background: white;
width: 17rem;
height: 11rem;
padding-top: 3.5vmin;
margin: 1rem;
margin-top: -15vmin;
border-radius: 0.5em;
box-shadow: 1px 2px 48px 0px rgba(255, 0,0, 0.34);
color: tomato;
}

.purchase>h1
{
    padding-top: 10vmin;
    padding-bottom: 0.1vmin;
    font-family: var(--Lobster);
}
.purchase>p
{
    padding-bottom: 0.1vmin;
    font-family: var(--Snigle-font);
}
.purchase .cards .card
{
    margin: 4vmin;
}

.cards .title
{
    background: rgba(208, 241, 241, 0.3);
}

.photo2
 {
   height:240px;
 }
.carousel-inner  {
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 5px  lightgray;
  }

 .text
 {
     color: blueviolet;   
 }

 .title
 {
    text-align: center;
    font-family: var(--Lobster);
 }
 .center_div
 {  
        margin-left: 25vmin;
        width:50% ;  
 }

 footer
 {  margin-top: 5vmin;
    background:darkslategray;
    overflow-x: hidden;
 }
 #panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
    width: 90%;
  }

  #panel {
    padding: 50px;
    display: none;
  }

  .right_div
  {
    width: 40%;
    height: 40%;
   margin-top: 3vmin; 
   margin-right:14vmin; 
  }


  .content-before
{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
   
}
.content-box1
{
    width: 200px;
    height: 60px;
    border-radius: 6px;
    background-color: blue;
    padding: 15px;
    margin-left: 14vmin;
    margin-bottom: 3vmin;
}
.content-box2
{
    width: 200px;
    height: 60px;
    border-radius: 6px;
    background-color:blue;
    margin-left: 14vmin;
    margin-bottom: 3vmin;
  
    
}
.content-box3
{
    width: 200px;
    height: 60px;
    border-radius: 6px;
    background-color:blue;
    margin-left: 14vmin;
    margin-bottom: 3vmin;
   
    
}
.content-after
{
 display: none;
 font-size: 14px;
 font-family: Arial, Helvetica, sans-serif;
 color: #fff;
 text-align: left;
 line-height: 16px;
 opacity: 0;
 text-align: center;
}


 